<html>
    <body>
        <a href="/"><input type="submit" value="INICIO"></a>
        <form method="POST" action="/users/createQuestion" >
            <label for="">Ingrese pregunta</label>
            <br>
            <input type="text" name="pregunta" >
            <br>
            <p>Ingrese 3 respuestas y luego ingrese el numero de la prespuesta correcta</p>
            <br>
            <label for="">opcion 1</label>
            <br>
            <input type="text" name="opcion1" >
            <br>
            <label for="">opcion 2</label>
            <br>
            <input type="text" name="opcion2" >
            <br>
            <label for="">opcion 3</label>
            <br>
            <input type="text" name="opcion3" >
            <br>
            <label for="">selecione cual de las 3 respuestas es la correcta:</label>
            <br>
            <input type="radio" value="0" name="respuestaCorrecta">opcion 1</input>
            <br>
            <input type="radio" value="1" name="respuestaCorrecta">opcion 2</input>
            <br>
            <input type="radio" value="2" name="respuestaCorrecta">opcion 3</input>
            <br>
            <input type="submit" value="enviar">
        </form>
    </body>
</html>