<!DOCTYPE html>
<html>
<%- include('partials/head', {title: 'home' }) %>

  <body>
    <div class="main">
    <div>
      <h1 class="title">
        The-Oracle 
      </h1>
      <p>The-Great-Trial-v0.1</p>
    </div>
      <form class="index-form" action="/users/gamer" method="POST">
        <div class="box-name">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre">
        </div>

        <input class="btn" type="submit" value="Iniciar">

      </form>


      <a  href="/users/createQuestion"><input class="btn"  type="submit" value="Crear pregunta"></a>

    </div>

  </body>

</html>